*~
*cpython*.so
cgrid2d.cpp
cgrid3d.cpp
cmesh3d.cpp
build/
debug_tt_mex/
test_lelievre11.py
ttcr_matlab/*.mex*
xcuserdata/
someTests/

ttcrpy.egg-info/

ttcrpy-0*

ttcrpy/__pycache__/

dynamicNodes.svg

fsm_hybrid.pdf

examples/.ipynb_checkpoints/

tests/__pycache__/

dist/

ttcrpy/rgrid.cpp

ttcrpy/cmesh2d.cpp

ttcrpy/cgrid2d.cp36-win_amd64.pyd

ttcrpy/cgrid2d.cp37-win_amd64.pyd

ttcrpy/cgrid3d.cp36-win_amd64.pyd

ttcrpy/cgrid3d.cp37-win_amd64.pyd

ttcrpy/cmesh2d.cp36-win_amd64.pyd

ttcrpy/cmesh2d.cp37-win_amd64.pyd

ttcrpy/cmesh3d.cp36-win_amd64.pyd

ttcrpy/cmesh3d.cp37-win_amd64.pyd

examples/example_cmesh2d.vtu

docs/_build/

old_stuff/

.eggs/
