*~
*cpython*.so
cgrid2d.cpp
cgrid3d.cpp
cmesh3d.cpp
build/
debug_tt_mex/
test_lelievre11.py
build_deploy_macos.sh
ttcr_matlab/*.mex*
xcuserdata/
someTests/

ttcrpy.egg-info/

ttcrpy-0*

ttcrpy/__pycache__/

dynamicNodes.svg

fsm_hybrid.pdf

examples/.ipynb_checkpoints/

tests/__pycache__/

dist/

ttcrpy/rgrid.cpp

ttcrpy/cmesh2d.cpp

ttcrpy/*.pyd

examples/example_cmesh2d.vtu

docs/_build/

old_stuff/

.eggs/

ttcrpy/tmesh.cpp

ttcr.xcodeproj/

test_pool/

main.o

ttcr_io.o

tests/files/*_rp.vtp

tests/files/*_tt_grid.vt*
