include src/ttcrpy/*.pyx
include src/ttcrpy/*.pxd
include src/ttcrpy/*.h
include src/ttcrpy/verbose.cpp
include src/ttcrpy/__init__.py
include ttcr/Cell.h
include ttcr/Grad.h
include ttcr/Grid*.h
include ttcr/Interpolator.h
include ttcr/MSHReader.h
include ttcr/Metric.h
include ttcr/Node*.h
include ttcr/Rcv*.h
include ttcr/Src*.h
include ttcr/structs_ttcr.h
include ttcr/ttcr_t.h
include ttcr/utils.h
include ttcr/ctpl_stl.h
graft boost_1_81_0
graft eigen-3.4.0
prune ttcr_matlab
prune ttcrXcode
exclude .gitattributes
exclude .gitignore
exclude Makefile*
