<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>msh2vtk.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>profile_threaded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>someTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ttcr2d.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ttcr2ds.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ttcr3d.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ttcr3d_raypath.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ttcrpy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B04DD761AA75F6E000231E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B376293206438C900F5CC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3D86D71C5BF08400AFFA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3D86E41C5C054200AFFA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B45CD281C5C38660083644A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B45CD341C5C38B40083644A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B45CD471C5C3F100083644A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B46D14419F2B78C00E7ADFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B6F8796190F399A002AC9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B6F87A4190F3EDA002AC9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8FC2511AB0D2B000EF9265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB25EE122F07A72008765E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BC708D218EDA599004DA2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BC7090818EDAAA0004DA2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BD0F4F318EED76000B3957F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE26490241B160500B6DC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE88D3721A4F1C10020D1DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BEAEF8A1DBBFB5F001AEA17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFC4AE81E7C605600F32C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
